.BlockDetail {
  position: relative;
  width: 100%;
}
.BlockDetail .BlockDetailContent {
  position: relative;
  width: 100%;
  height: 620px;
  background-color: #f6f6f6;
}
.BlockDetail .BlockDetailContent .BlockDetailContainer {
  position: relative;
  top: 30px;
  width: 95%;
  height: 520px;
  max-width: 1080px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 0 5px 5px #f0f0f0;
}
.BlockDetail .BlockDetailContent .BlockDetailContainer .Block {
  position: relative;
  top: 30px;
  width: 95%;
  margin: 0 auto;
  height: 520px;
}
.BlockDetail .BlockDetailContent .BlockDetailContainer .Block .BlockTitle {
  position: relative;
  text-indent: 10px;
  width: 100%;
  height: 45px;
  line-height: 200%;
  font-size: 18px;
  text-align: left;
  color: #01a1e6;
  border-bottom: 0.5px solid #ededed;
}
